.PTitle{
    font-family: 'Supermercado One', cursive;
    font-size: 3em;
    line-height: 0;
    
}
header {
    background-color: blueviolet;
    padding: 50px;
    margin-top: 0px;
}
nav {
    color: black;
    padding: 40px;

}
.navegacion {
    color: rebeccapurple;
    padding: 30px;
    box-shadow: 3px;
    flex-direction: row;
}
p {
    color:aqua;
    padding: 40px;
    border: 3px solid blueviolet;
}
.fcontainer {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px;

}
.fcontainer div{
    background-color: azure;
    
}

.pcontainer {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}
.grid_productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.pdrcts {
    aspect-ratio: 1 / 1.5;
}
img,
picture {
    max-width: 100%;
    display: block;
}

